<footer>
    <ul>
        <li class="footer-click" id="1"><a class="navigator-click" href="#intro">..</a></li>
        <li class="footer" id="2"><a class="navigator" href="#skills">..</a></li>
        <li class="footer" id="3"><a class="navigator" href="#projects">..</a></li>
    </ul>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/js/main.js" ></script>
<script type="module" src="/js/pop.js" ></script>
<script src="/js/phone.js" media="screen and (max-width: 630px)"></script>
<!-- <script src="/js/date.js"></script> -->
</body>
</html>